<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}"
      lang="en">
<div layout:fragment="content">
    <div class="card">
        <div class="card-body">
            <div class="card-title">게시글 등록</div>
            <!--/*  */-->
            <div class="mb-3">
                <label for="bno" class="form-label">Bno</label>
                <input type="text" class="form-control" name="bno" id="bno" th:value="${board.bno}">
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" name="title" id="title" th:value="${board.title}">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <textarea type="text" class="form-control" name="content" id="content">[[${board.content}]]</textarea>
            </div>
            <div class="mb-3">
                <label for="author" class="form-label">Author</label>
                <input type="text" class="form-control" name="author" id="author" th:value="${board.author}">
            </div>
            <div class="mb-3">
                <label for="postdate" class="form-label">PostDate</label>
                <input type="text" class="form-control" name="postdate" id="postdate" th:value="${board.postdate}">
            </div>
            <div class="mb-3">
                <label for="readcount" class="form-label">ReadCount</label>
                <input type="text" class="form-control" name="readcount" id="readcount" th:value="${board.readcount}">
            </div>
            <!--/*  */-->
            <div class="mb-3">
                <a th:href="@{/board/modify(bno=${board.bno})}">
                    <button type="button" class="btn btn-primary">Modify</button>
                </a>
                <a th:href="@{/board/list}">
                    <button type="button" class="btn btn-secondary">Board List</button>
                </a>
            </div>
        </div>
    </div>
</div>